@page "/"

<div style="margin-top:30px">
    
</div>
<div class="row">
    <div class="col-md-6">
        hello
    </div>
    <div class="col-md-4">there</div>
    <div class="col-md-2">baby</div>
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
