@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="container-fluid" style="padding: 0">
    <NavMenu />
    <div class="body-container">
        @Body
    </div>
</div>
